
table.container.top-logo {
  background: white!important;

}
#top-links{


}
.logo-image{
  width:120px;
}


.column-links .links{
  
  text-decoration: none!important;
  color: #000000 !important;
  font-family: 'Source Sans Pro','Google Sans',Arial,sans-serif;
  text-transform: capitalize;
  font-size:16px;
}

#top-title{

}
 
.deal_of_day h2{
  color: #2c2c2c;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  font-family: 'Source Sans Pro',Arial,Sans-Serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;

 }
 #top-title1{

 }
 .top_ten h1{
  
    color: #2c2c2c;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    font-family: 'Source Sans Pro',Arial,Sans-Serif;
    padding-left: 20px;
    padding-right: 20px;

  
   
 }

 #recom_button{

 }
.buttom-vert{

  vertical-align: bottom;
 }
 .recom_end a{
  padding: 11px 10px 10px 10px;
  background: #000000;
  color: #ffffff;
  display: block;
  text-align: center;

  font-size: 18px!important;
 }

 .images-hotels a img {
  margin-top: 15px;
}

.view-sales a{
 

    font-size: 16px;
    line-height: 20px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    padding: 14px 40px;
    display: inline-block;
    letter-spacing: 1px;
    background-color: #ff8c00;
    text-transform: capitalize!important;
}
.header{
  margin-top:20px!important;
  padding-top:20px;
}

th.small-12.large-12.columns.first.last {
  padding-right: 0!important;
  padding-left: 0!important;
}

.footer-wrap{
  background-color:#1a1a1a;
}
.footer-container{
  background-color:#1a1a1a!important;
  margin-top:50px!important;
}
.footer-happy-travels{
  background-color:#1a1a1a;
}

.footer-happy-travels h3{
  font-family: 'Open Sans',Arial,sans-serif,'Open Sans'!important;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  
}

.footer-happy-travels h4{
  color: #ffffff;
  text-align:center;
  font-family: 'Open Sans',Arial,sans-serif,'Open Sans'!important;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700
}

.footer-happy-travels p{
  color: #ffffff;
  text-align:center;
  font-family: 'Open Sans',Arial,sans-serif,'Open Sans'!important;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: normal;
}
.footer-happy-travels a img{
  text-align:center;
  margin:0 auto;
  width:52px;
}
img.trustpilot-logo {
  width: 18px;
  margin-right: 50px;
}



.footer-happy-travels .reviews{
  display:inline;
  margin-left: 22px;
}


.footer-condition{
  background-color:#000000!important;
}

.footer-policy{
  background-color:#000000!important;
  margin-top:50px!important;
}

 .footer-manage a{
 
  font-family: 'Source Sans Pro','Google Sans',Arial,sans-serif;
    color: #ffffff;
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    text-align: center
}
span.view-online {
  border-left: 2px solid #ffff;
  padding-left: 10px;
  margin-left: 5px;
}
.terms-condition p{
  padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro','Google Sans',Arial,sans-serif;
    color: #ffffff;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}
.terms-condition p a{
  color:#ffffff;
}